<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EA7
    </ion-title>
  </ion-toolbar>
</ion-header>

<div style="height: 100vh; background-color: rgb(141, 141, 141);">
  <br>
  <form [formGroup]="tarea" (ngSubmit)="nTarea()">
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="tarea.controls.nombre.errors?.['required'] && (tarea.touched || tarea.dirty)">* El nombre es obligatorio </ion-label>
    <ion-item>
      <ion-label>Fecha:</ion-label>
      <ion-input formControlName="fecha" type="datetime-local"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="tarea.controls.fecha.errors?.['required'] && (tarea.touched || tarea.dirty)">* La fecha es obligatoria </ion-label>
    <ion-item>
      <ion-label>Descripcion:</ion-label>
      <ion-input formControlName="descripcion"></ion-input>
    </ion-item>
    <p class="ion-text-center">
      <ion-button type="submit">Añadir tarea</ion-button>
    </p>
 </form>
    <br><br><br>
    <div class="container" style="background-color: rgb(255, 255, 255);">
      <ul style="list-style-type: none; padding-left: 0;">
        <li *ngFor="let tarea of tareas">
          <div><b>{{ tarea.nombre }}</b></div>
          <div>{{ tarea.descripcion }}</div>
          <div>{{ tarea.fecha }}</div>
          <div>
            <ion-checkbox [(ngModel)]="tarea.completada" style="width: 140px;"></ion-checkbox>
          </div>
        </li>
      </ul>
    </div>
  </div>